body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}
/* --------- Game layout */

.game-area {
    background-color: #6f6d6d;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.score-area {
    font-size: 2.5rem;
}

.controls-area {
   width: 85%;
   margin: 30px auto;
}

#user {
    color: green;
    font-weight: bold;
    width: 50%;
}

#computer {
    color: red;
    font-weight: bold;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 100px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}
span.emoji {
    font-size: 40px;
}

.result {
    color: black;
}

button {
    background-color: white;
    width: 33.3%;
    height: 50px;
    transition: all 0.5s;
    float: left;
}
button:active,
button:hover {
    background-color: rgb(171, 85, 241);
    color: white;
}