body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}


.heading {
    text-align: center;
    font-size: 2.5rem;
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.game-area {
    background-color: #6f6d6d;
    margin: 5% auto;
  padding: 10px;
  width: 120px;
  padding: 10px;
  width: 80%;
  height: 80%;
  border: 2px solid #131212;

}

.score-area {
    font-size: 2.5rem;
}

.controls-area {
   width: 85%;
   margin: 30px auto;
}

#user {
    color: rgb(244, 248, 244);
    font-weight: bold;
    font-style: italic;
}

#computer {
    color: rgb(244, 248, 244);
    font-weight: bold;
    font-style: italic;
}

.scores {
    display: inline-block;
    padding: 25px;
    color: azure;
}


.btn {
    width: 220px;
    height: 100px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}
span.emoji {
    font-size: 40px;
}

.result {
    color: black;
}

button {
    background-color: white;
    width: 33.3%;
    height: 50px;
    transition: all 0.5s;
    float: left;
}
button:active,
button:hover {
    background-color: rgb(171, 85, 241);
    color: white;
}
.resultSection {
    color: rgb(197, 242, 34);
}


@media screen and (max-width: 500px) {
    .button-area {
        flex-direction: column;
    }

    .button-area button{

        width: 100%;
    }

}