/*Body style*/
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* Heading style */
.heading {
    text-align: center;
    font-size: 2.5rem;
}
/* Styling targetting button area of the game located in the Game area */
.button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/* Styling targetting Game area */
.game-area {
    background-color: #6f6d6d;
    margin: 5% auto;
  padding: 10px;
  padding: 10px;
  width: 80%;
  height: 80%;
  border: 2px solid #131212;

}
/* Styling for the score display */
.score-area {
    font-size: 3.5rem;
}
/* Styling controls area of the game located in the Game area */
.controls-area {
   width: 85%;
   margin: 30px auto;
}
/* Styling for the user score count */
#user {
    color: (244, 248, 244);
    font-weight: bold;
    font-style: italic;
}
/* Styling for the computer score count */
#computer {
    color: white;
    font-weight: bold;
    font-style: italic;
}
/* Styling for the overall game score */
.scores {
    display: inline-block;
    padding: 25px;
    color: rgb (45, 216, 129)    ;
}

/* Styling for buttons for the game */

button {
    background-color: white;
    width: 33.3%;
    height: 50px;
    transition: all 0.5s;
    float: left;
}
button:active,
button:hover {
    background-color: #ab55f1;
    color: white;
}
/* Styling for results for each individual game */
.resultSection {
    color: black;
    font-size: 2.5rem;
}

/* Styling for responsivness */
@media screen and (max-width: 500px) {
    .button-area {
        flex-direction: column;
    }

    .button-area button{

        width: 100%;
    }
    .scores {
        flex-direction: column;
    }
 
}
